/*
Theme Name: Onyx
Theme URI: http://demo.mikado-themes.com/onyx
Description: Onyx
Tags: business, clean, corporate, shop, portfolio, multi-purpose, creative, medical, construction, one page, ecommerce, services, modern, agency, seo
Author: Mikado Themes
Author URI: http://demo.mikado-themes.com
Version: 1.3
License: GNU General Public License
License URI: licence/GPL.txt

CSS changes can be made in files in the /css/ folder. This is a placeholder file required by WordPress, so do not delete it.

*/

@font-face {
    font-family: 'futura_heavy';
    src: url('fonts/FuturaStd-Heavy.eot');
    src: local('☺'), url('fonts/FuturaStd-Heavy.woff') format('woff'), url('fonts/FuturaStd-Heavy.ttf') format('truetype'), url('fonts/FuturaStd-Heavy.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_medium';
    src: url('fonts/FuturaStd-Medium.eot');
    src: local('☺'), url('fonts/FuturaStd-Medium.woff') format('woff'), url('fonts/FuturaStd-Medium.ttf') format('truetype'), url('fonts/FuturaStd-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
  font-family: 'futura_medium' !important;
  color: #3b3b3b !important;
  font-size: 16px !important;
  font-weight: normal !important;
  text-align: justify !important;
}

nav.main_menu > ul > li > a{
  font-family: 'futura_medium' !important;
  font-weight: bold !important;
  letter-spacing: 1px !important;
}

p{
	font-family: 'futura_medium' !important;
	font-size: 16px !important;
  	color: #3b3b3b;
  	font-weight: normal !important;
  	text-align: justify !important;
}

h1{
	font-family: 'futura_bold' !important;
	font-size: 18px !important;
  color: #3b3b3b;
  font-weight: normal !important;
  text-align: center !important;
}

header{
  top: inherit !important;
}

#searchform{
  position: fixed !important;
}

/* ============================================================
  GLOBAL
============================================================ */

.effects {
  padding-left: 15px;
}
.effects .img {
  position: relative;
  float: left;
  margin-bottom: 5px;
  overflow: hidden;
}
.effects .img:nth-child(n) {
  margin-right: 5px;
}
.effects .img:first-child {
  margin-left: -15px;
}
.effects .img:last-child {
  margin-right: 0;
}
.effects .img img {
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 1px !important;
  max-width: 100%;
  height: auto;
}

.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(254, 239, 0, 0.9);
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}
a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  z-index: 100;
}

a.expand img{
  height: 100%!important;
}

/* ============================================================
  EFFECT 3 - SLIDE IN LEFT
============================================================ */
.effect-3 .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
}
.effect-3 .overlay a.expand {
  top: 0;
  bottom: 0;
}
.effect-3 .img.hover .overlay {
  width: 100%;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Media Queries
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
@media only screen and (max-width: 1100px) {
  .effects {
    padding-left: 5px;
  }
  .effects .img:nth-child(n) {
    margin-right: 5px;
  }
  .effects .img:first-child {
    margin-left: 0;
  }
  .effects .img:nth-child(2n-1) {
    margin-left: -5px;
  }
  .effects .img:nth-child(2n) {
    margin-right: 0;
  }
  .effects .img:last-child {
    margin-right: 0;
  }
  .header_inner_right{
  	margin-right: 35px !important;
  }

}

@media only screen and (max-width: 520px) {
  .effects .img {
    width: 100%;
  }
  .effects .img:nth-child(n) {
    margin-right: 0;
  }
  .effects .img:first-child {
    margin-left: 0;
  }
  .effects .img:nth-child(2n-1) {
    margin-left: 0;
  }
  .effects .img:nth-child(2n) {
    margin-right: 0;
  }
  .effects .img:last-child {
    margin-right: 0;
  }
  .effects .img img {
    margin: 0 auto;
  }
  .header_inner_right{
  	margin-right: 10px !important;
  }
}

@media only screen and (max-width: 1200px) {

	.mkd_logo > a > .normal{
		height: 80% !important;
	}
}

@media only screen and (max-width: 1100px) {
	.mkd_logo > a > .normal{
		height: 70% !important;
	}
}

@media only screen and (max-width: 1000px) {
	.custom-images {
		width: 39% !important;
	}
}

@media only screen and (max-width: 768px) {
	.custom-images {
		width: 36% !important;
	}
}

@media only screen and (max-width: 767px) {
	.custom-buttons{
		padding-left: 20% !important;
	}

	.custom-images, .yellowBlock, .image0, .to-hide-image{
		display: none !important;
	}

	.margin-image{
		margin-top: 20px !important;
	}

	.accordion/*, .accordion > div, .accordion > div > div, .accordion > div > div > h4*/{
		margin-bottom: 15%;
	}
}

@media only screen and (max-width: 600px) {
	.custom-buttons{
		padding-left: 6% !important;
	}
}

@media only screen and (max-width: 520px) {
	.custom-buttons{
		padding-left: 0% !important;
	}

	#back_to_top{
		right: -10px !important;
	}
}

@media only screen and (max-width: 480px) {
	.tab-title{
		padding-left: 0px !important;
	}

	.accordion{
		margin-bottom: 22% !important;
	}
}