/*
Theme Name: Onyx
Theme URI: http://demo.mikado-themes.com/onyx
Description: Onyx
Tags: business, clean, corporate, shop, portfolio, multi-purpose, creative, medical, construction, one page, ecommerce, services, modern, agency, seo
Author: Mikado Themes
Author URI: http://demo.mikado-themes.com
Version: 1.3
License: GNU General Public License
License URI: licence/GPL.txt

CSS changes can be made in files in the /css/ folder. This is a placeholder file required by WordPress, so do not delete it.

*/

@font-face {
    font-family: 'futura_heavy';
    src: url('fonts/FuturaStd-Heavy.eot');
    src: local('☺'), url('fonts/FuturaStd-Heavy.woff') format('woff'), url('fonts/FuturaStd-Heavy.ttf') format('truetype'), url('fonts/FuturaStd-Heavy.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_medium';
    src: url('fonts/FuturaStd-Medium.eot');
    src: local('☺'), url('fonts/FuturaStd-Medium.woff') format('woff'), url('fonts/FuturaStd-Medium.ttf') format('truetype'), url('fonts/FuturaStd-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
  font-family: 'futura_medium' !important;
  color: #3b3b3b !important;
  font-size: 16px !important;
  font-weight: normal !important;
  text-align: justify !important;
}

nav.main_menu > ul > li > a{
  font-family: 'futura_medium' !important;
  font-weight: bold !important;
  letter-spacing: 1px !important;
}

p{
	font-family: 'futura_medium' !important;
	font-size: 16px !important;
  	color: #3b3b3b;
  	font-weight: normal !important;
  	text-align: justify !important;
}

h1{
	font-family: 'futura_bold' !important;
	font-size: 18px !important;
  color: #3b3b3b;
  font-weight: normal !important;
  text-align: center !important;
}

header{
  top: inherit !important;
}

#searchform{
  position: fixed !important;
}

/* ============================================================
  GLOBAL
============================================================ */

.effects {
  padding-left: 15px;
}
.effects .img {
  position: relative;
  float: left;
  margin-bottom: 5px;
  overflow: hidden;
}
.effects .img:nth-child(n) {
  margin-right: 5px;
}
.effects .img:first-child {
  margin-left: -15px;
}
.effects .img:last-child {
  margin-right: 0;
}
.effects .img img {
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 1px !important;
  max-width: 100%;
  height: auto;
}

.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(254, 239, 0, 0.9);
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}
a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  z-index: 100;
}

a.expand img{
  height: 100%!important;
}

/* ============================================================
  EFFECT 3 - SLIDE IN LEFT
============================================================ */
.effect-3 .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
}
.effect-3 .overlay a.expand {
  top: 0;
  bottom: 0;
}
.effect-3 .img.hover .overlay {
  width: 100%;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Media Queries
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
@media only screen and (max-width: 1100px) {
  .effects {
    padding-left: 5px;
  }
  .effects .img:nth-child(n) {
    margin-right: 5px;
  }
  .effects .img:first-child {
    margin-left: 0;
  }
  .effects .img:nth-child(2n-1) {
    margin-left: -5px;
  }
  .effects .img:nth-child(2n) {
    margin-right: 0;
  }
  .effects .img:last-child {
    margin-right: 0;
  }
  .header_inner_right{
  	margin-right: 35px !important;
  }

}

@media only screen and (max-width: 520px) {
  .effects .img {
    width: 100%;
  }
  .effects .img:nth-child(n) {
    margin-right: 0;
  }
  .effects .img:first-child {
    margin-left: 0;
  }
  .effects .img:nth-child(2n-1) {
    margin-left: 0;
  }
  .effects .img:nth-child(2n) {
    margin-right: 0;
  }
  .effects .img:last-child {
    margin-right: 0;
  }
  .effects .img img {
    margin: 0 auto;
  }
  .header_inner_right{
  	margin-right: 10px !important;
  }
}

@media only screen and (max-width: 1200px) {

	.mkd_logo > a > .normal{
		height: 80% !important;
	}
}

@media only screen and (max-width: 1100px) {
	.mkd_logo > a > .normal{
		height: 70% !important;
	}
}


@media only screen and (max-width: 1000px) {
	.custom-images {
		width: 39% !important;
  }
  	/**************MENU **************/

.header_bottom .container_inner{
	border-top: none;
}


/**********buscador********/

.bop-nav-search {
	float:none !important;
	width:140px;
	margin-bottom:15px;
} 

li#mobile-menu-item-17961 {
	float: none !important;
}

 nav.mobile_menu ul li a, nav.mobile_menu ul li h4 {
		padding: 12px 0px !important;
	}

	div.container_inner.clearfix .header_inner_right{
	float: right !important;
}
.content.content_top_margin_none{
	margin-top: 100px !important;
}
.header_top {
		height: 10px;
		border-bottom-width:0px;
}
.hidden-menu {
	display: none;
}
.text-number {
	font-weight: 900 !important;
}
.icon-space {
	padding-left: 0px !important;
}
.social-icon img {
	height: 30px;
}
.social-icon {
	padding-right: 20px !important;
}
.mobile_menu_button .fa {

	 font-size: 35px !important;
	 color: #009ADE;
}
nav.mobile_menu ul li {
	 border-bottom:0px !important;
	}
nav.mobile_menu {
	 margin-top: 15px;
 }
nav.mobile_menu ul li a {
	 font-size: 22px !important;

}
nav.mobile_menu ul li a:hover {
	color: #009ADE;
}

nav.mobile_menu ul li a.social-icon{
		padding: 8px !important;
		padding-right: 20px !important;
    margin: 0px;
    color: #fff;
    margin-left: 10px;
    border-radius: 20px;
    font-size: 20px;
}

.li-widget a span{
	color: #00509E;
	margin-left: 2px;
	font-weight: 600;
}
.icons-menu {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}
}

@media only screen and (max-width: 768px) {
	.custom-images {
		width: 36% !important;
	}
}

@media only screen and (max-width: 767px) {
  
  .logo-mobile {
  
    width: 160px !important;
  }
	.custom-buttons{
		padding-left: 20% !important;
	}

	.custom-images, .yellowBlock, .image0, .to-hide-image{
		display: none !important;
	}

	.margin-image{
		margin-top: 20px !important;
	}

	.accordion/*, .accordion > div, .accordion > div > div, .accordion > div > div > h4*/{
		margin-bottom: 15%;
	}
}

@media only screen and (max-width: 600px) {
	.custom-buttons{
		padding-left: 6% !important;
	}
}

@media only screen and (max-width: 520px) {
	.custom-buttons{
		padding-left: 0% !important;
	}

	#back_to_top{
		right: -10px !important;
	}
}

@media only screen and (max-width: 480px) {
	.tab-title{
		padding-left: 0px !important;
	}

	.accordion{
		margin-bottom: 22% !important;
	}
}

@media screen and (min-width: 992px) and (max-width: 1000px){
	.header_inner.clearfix .container {
			width: 750px;
		}
		.header_inner.clearfix .hidden-md {
			display: block!important;
	}
	header .header_inner.clearfix  .mkd_logo img.mobile{
		display: none!important;
	}
}

@media screen and (min-width: 1001px) and (max-width: 1199px){
	.header_bottom.left_menu_position nav.main_menu .item_text {
    font-size: 14px !important;
}
}


/*HEADER*/
.header_top_bottom_holder {

    box-shadow: 0px 6px 7px 0px rgba(110, 110, 110, 0.2);
}

/***********SUB MENU************/

.menu-background{
	background: #fff;
    height: 39px;
}
.menu li{
	font-size: 15px;
}
.menu li a{
	color:#009ADE;
	padding-top: 0px;
	padding-bottom: 0px;
}
.icon-menu{
   display: inline-block;
   vertical-align: middle;
   height: 10px !important;
}
.menu-background .nav>li>a:hover{
	background:transparent;
}
.menu-background .nav>li>a:focus{
	background: transparent;
}
.header_top .header-widget a:not(.qbutton), .header_top .header-widget span {
	color: #00509E !important ;
}

.menu-background .nav>li .social-icon
{
	padding-left: 5px;
	padding-right: 10px;
	
}
.menu-background .nav>li img
{
	height: 25px;
}
.menu-background .nav>li .icon-space
{
	padding-left: 20px;
}
.header_top{
	height: 40px;
	border:none;
}

/***********END SUB MENU************/



/***********MENU************/
.header_bottom .container_inner {

	border-top: 1px solid rgba(110, 110, 110, 0.3);
}
.normal {
	height: 50px;
}
.bop-nav-search .menu-item .menu-item-type-search .menu-item-object-  .wide .right_position{
	float: right !important;
	padding-top: 30px;
}
.bop-nav-search .menu-item .menu-item-type-search .menu-item-object-  .wide .right_position input{
	width: 100px !important;
}
.input-search {
	width: 110px;
	border:none;
	font-family: 'futura_medium', sans-serif !important;
    font-weight: 400;
    font-size: 17px;
    padding-bottom: 0px;
    padding-top: 4px;
    
}
.screen-reader-text {
	display: none;
}
#searchsubmit{
	border:none; 
	padding: 0px;
    padding-bottom: 5px;
}
#searchsubmit:before{
	display: none;
}
#searchsubmit .fa{
	color:#009ade;
}
.bop-nav-search {
	float: right !important;
	padding-top: 35px;
	border-bottom: 1px solid #6E6E6E;
}
.bop-nav-search .btn-default:focus {
	background:transparent;
}
.bop-nav-search .btn-default:hover {
	background:transparent;
}
input:focus {
	outline:none;
}
nav.main_menu > ul > li {
    margin: 0  5px !important;
}
nav.main_menu > ul > li > a {
    font-family: 'futura_medium', sans-serif !important;
    font-weight: 400;
}
.header_inner_right {
	float: left !important;
	margin-left: 0px !important;
}
.mkd_logo a {
    visibility: visible;
    height: 60px;
    bottom: 10px;
}
.header_bottom.left_menu_position nav.main_menu {
	float: right !important;
}
.header_bottom.left_menu_position nav.main_menu .item_text {
    text-transform: initial;
    font-size: 17px;
    font-weight: 400;
}
.header_bottom.left_menu_position nav.main_menu .item_text:hover {
	/*padding-bottom: 5px;
    border-bottom: 3px solid;
	font-weight: 600;
	font-family: 'futura_heavy', sans-serif !important;*/
}
.header_bottom .container_inner {
	width: 100% !important;
	margin:0px !important;
}
#searchsubmit:before {
    content: "\f000";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;
}
.vertical-align {
    display: flex;
    align-items: center;
}

/***********END MENU************/

/***************************END HEADER*************************/

/***********FOOTER************/
.footer-principal {
	margin-top: 30px;
	padding-bottom: 65px;
}

.footer-left-text p {
	font-size : 20px !important;
	color: #6E6E6E;
	font-weight: 400 !important;
}
.footer-right-text p{
		font-size : 26px !important;
		color:#00509E;
		font-weight: 600 !important;
		font-family: 'futura_heavy', sans-serif !important;
	}
.footer-right-text .big-text {
	font-size: 36px !important;
	text-align: right !important;
}
.novedades-text{
	text-align: right !important;
}

.news-footer .wpcf7-form-control-wrap {
    position: relative;
    border-bottom: 1px solid #6e6e6e;
    width: 100%;
}
.footer-message .contact-element input.wpcf7-form-control.wpcf7-text {
	text-align: right;
}
.footer-icon {
    right: 0px;
    left: initial !important;
}
.left-contact{
	padding-left:0px;
}
.news-footer .contact-element input.wpcf7-form-control.wpcf7-text {
	padding-right: 30px;
}
.footer-message{

	padding-left: 0px;
	padding-right: 0px;
}
.footer-left-text a p:hover{
	text-decoration: none;
	color: #009ADE;
}
.footer-left-text a:hover {
	text-decoration: none;
}
.icons-menu {
	display: inline-block;
}
.disable {
	cursor: initial;
}
.text-icon {
  padding: 4px 2px;
  /*margin-right: 20px;*/
  display: inline-block;
}



.side_menu_button {
	display: none;
}

/***********END FOOTER************/

/***********NEWSLETTER************/
.content-icon-follow-2{
	display: flex;
    align-items: baseline;
}
.content-icon-follow-2 p{
	font-size: 30px !important;
    font-weight: 600 !important;
    font-family: 'futura_heavy', sans-serif !important;
    color: #00509E;
}
.contact-newsletter {
	padding-left:0px;
	padding-right:0px;
}
.contact-news {
	padding-left:15px;
}
.contact-element input.wpcf7-form-control.wpcf7-text {
	background: transparent;
	border:none;
	font-size: 26px;
	padding-bottom: 5px; 
	padding-left:0px;
}

/*contact form 7 newsletter*/

.wpcf7 .wpcf7-text,
.wpcf7 .wpcf7-textarea{
  text-indent: 30px;
}
.wpcf7 .contact-element{ 
	position: relative; 
	display: flex; 
	/*padding-top: 20px;*/
	padding-top: 0;
}
.wpcf7 .contact-newsletter .contact-element{ 
	position: relative; 
	display: flex; 
	padding-top: 0;
	width: 100%;
}
.wpcf7 .contact-newsletter .contact-element span{ 
	width: 100%;
}
.wpcf7 .contact-element .fa{
  position: absolute;
  color: #009ade;
  z-index: 100;
  font-size: 23px;
  top: 15px;
  left: 0px;
}
.contact-news .contact-element .fa{
	z-index: -1;
}
.wpcf7 .contact-element .fa-pencil{ top: 4%; }
.submit-contact {
	right: 2px; 
	text-align: center;
	padding: 0px;
}
.wpcf7 .contact-element input.wpcf7-form-control.wpcf7-submit {

 	width: 100%;
 	text-align:center;
 	background: #00509e; 
 	padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    padding-left: 0px;
    padding-right: 0px;
    font-weight: 600;
    font-family: 'futura_heavy', sans-serif !important;
    margin-top: 6px;

 }
.contact-element .wpcf7-form-control-wrap {
    position: relative;
    border-bottom: 1px solid #6e6e6e;
    width: 100%;
}
/*end contact form 7 newsletter*/

/***********END NESWLETTER************/
